.root {
  background-color: rgba(255, 255, 255, 0.5); /* Полупрозрачный фон */
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  // margin-bottom: 30px;
  transition: background-color 0.3s, border-bottom-color 0.3s; /* Плавный переход для ховера */
  position: sticky;
  top: 0px;
  z-index: 2;
}

.root:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Менее прозрачный фон при наведении */
  border-bottom-color: #bdbdbd; /* Изменение цвета границы при наведении */
}


.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  // display: flex;
  color: black;
  font-weight: 700;
  line-height: 35px;
  // text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    background-color: #eee;
  }
}

.buttons {
  button {
    margin-left: 10px;
  }

  a {
    text-decoration: none;
  }
}

// ==========

.title{
  opacity: 0.5;
  @media (max-width: 762px) {
     font-size: 12px;
  }
  @media (max-width: 658px) {
     display: none;
  }
}

// .name{
//   @media (max-width: 472px) {
//      display: none;
//   }
  
// }
// .iCart{
//   display: flex;
//   // @media (max-width: 354px) {
//   //    display: block;
//   // }
// }
// .container{
//   padding: 40px;
//   @media (max-width: 356px) {
//      padding: 10px;
//   }
// }